{% style %}
.block_test-drive-our-services-post-image {
	width: 100%
}

.block_test-drive-our-services {
	padding: 0 0 120px
}

.block_test-drive-our-services-box {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	border-radius: 16px;
	overflow: hidden
}

.block_test-drive-our-services-details-box {
	width: 42%;
	padding: 40px 40px 40px 50px
}

.block_test-drive-our-services-heading {
	color: #000;
	font-size: 52px;
	font-weight: 600;
	line-height: 70px;
	margin: 0 0 20px
}

.block_test-drive-our-services-heading span {
	position: relative;
	display: inline-block
}

.block_test-drive-our-services-heading span:after {
	content: "";
	display: block;
	background-image: url(/cdn/shop/files/new-lines.png?v=1702640923);
	position: absolute;
	background-size: contain;
	background-repeat: no-repeat;
	width: 100%;
	height: 10px;
	bottom: 0;
	background-position: right;
	right: 0
}

.block_test-drive-our-services-description p {
	color: #000c;
	font-size: 16px;
	font-weight: 400;
	line-height: 31px;
	margin: 0 0 21px
}

.block_test-drive-our-services-btn {
	border-radius: 3px;
	background: #008060;
	box-shadow: 0 6px 20px -6px #1e2e4826;
	padding: 14px 44px;
	display: inline-block;
	color: #fff;
	font-size: 16px;
	font-weight: 600;
	line-height: 33px;
	text-decoration: none
}

.block_test-drive-our-services-btn svg {
	margin-left: 15px
}

.block_test-drive-our-services-image-box {
	width: 58%;
	padding: 12px 22px 12px 30px;
	position: relative
}

.block_test-drive-our-services-slider-arrow {
	width: 64px;
	height: 64px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #1a1a1a;
	border: 5px solid #FFFFFF;
	box-shadow: 0 6px 20px -6px #1e2e4826;
	border-radius: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 1;
	cursor: pointer
}

.block_test-drive-our-services-arrow-prev {
	left: 20px
}

.block_test-drive-our-services-arrow-next {
	right: 10px
}

@media screen and (min-width:768px) {
	.block_test-drive-our-services-slider-arrow:hover svg {
		width: 28px;
		height: 28px
	}
}

@media screen and (max-width:1400px) and (min-width:768px) {
	.block_test-drive-our-services-details-box {
		padding: 40px 30px
	}
}

@media screen and (max-width:1024px) and (min-width:768px) {
	.block_test-drive-our-services-heading {
		font-size: 35px;
		line-height: 50px
	}

	.block_test-drive-our-services-btn {
		padding: 14px 20px;
		font-size: 13px
	}

	.block_test-drive-our-services-description p {
		font-size: 14px;
		line-height: 24px
	}
}

@media screen and (max-width:767px) {
	.block_test-drive-our-services-box {
		padding: 40px 20px;
		border-radius: unset
	}

	.block_test-drive-our-services-details-box {
		width: 100%;
		padding: 0 0 30px
	}

	.block_test-drive-our-services-image-box {
		width: 100%;
		padding: 0
	}

	.block_test-drive-our-services-slider-arrow {
		position: unset;
		transform: unset;
		width: 40px;
		height: 40px;
		border-width: 3px
	}

	.block_test-drive-our-services-slider-arrow svg {
		width: 15px;
		height: 15px
	}

	.block_test-drive-our-services-arrow {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 8px;
		padding: 16px 0 0
	}

	.block_test-drive-our-services-heading {
		font-size: 30px;
		line-height: 38px;
		margin: 0 0 16px
	}

	.block_test-drive-our-services-heading br {
		display: none
	}

	.block_test-drive-our-services-description p {
		font-size: 14px;
		line-height: 24px
	}

	.block_test-drive-our-services-btn {
		width: 100%;
		text-align: center
	}

	.block_test-drive-our-services-heading span:after {
		bottom: -5px
	}

	.block_test-drive-our-services {
		padding: 0 0 60px
	}
}


{% endstyle %}
<div class="block_test-drive-our-services-section section_template--21354087547164__3eca8c09-0cfb-468f-9967-f14d923d0ccf">
    <div class="container">
        <div class="block_test-drive-our-services">
            <div class="container_content">
                <style>
                    .section_template--21354087547164__3eca8c09-0cfb-468f-9967-f14d923d0ccf .block_test-drive-our-services-box {
                        background: #fbf7ed;
                    }
                </style>
                <div class="block_test-drive-our-services-box">
                    <div class="block_test-drive-our-services-details-box">
                        
                        <h2 class="block_test-drive-our-services-heading">Build a <span>New</span> <br>Shopify Store</h2>
                        
                        
                        <div class="block_test-drive-our-services-description">
                            <p><strong>Try before you buy</strong> Shopify design &amp; development. We will create a fully functional custom front page concept design of your new Shopify website, and we won't charge you a single cent.</p>
                        </div>
                        
                        
                        <div class="block_test-drive-our-services-button">
                            <a href="https//pages/get-started-form?business-needs=im-looking-to-build-a-new-shopify-store" class="block_test-drive-our-services-btn">Test Drive our Services <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<g clip-path="url(#clip0_148_474)">
<path d="M16.172 10.9967L10.808 5.63275L12.222 4.21875L20 11.9967L12.222 19.7747L10.808 18.3608L16.172 12.9967H4V10.9967H16.172Z" fill="white"></path>
</g>
</svg></a>
                        </div>
                        
                    </div>
                    <div class="block_test-drive-our-services-image-box">
                        <div class="block_test-drive-our-services-image slick-initialized slick-slider">
                            
                                
                                    <div class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 6606px;"><div class="block_test-drive-our-services-img slick-slide" data-slick-index="0" aria-hidden="true" style="width: 734px; position: relative; left: 0px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://cdn.shopify.com/s/files/1/2356/8441/files/lids-px-new-2.webp?v=1716982909" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="1" aria-hidden="true" style="width: 734px; position: relative; left: -734px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/olaplex-px-new-2.png?v=1703217465" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="2" aria-hidden="true" style="width: 734px; position: relative; left: -1468px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/everlast-px-new-2.png?v=1703217517" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="3" aria-hidden="true" style="width: 734px; position: relative; left: -2202px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/bark-px-new-2.png?v=1703217595" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="4" aria-hidden="true" style="width: 734px; position: relative; left: -2936px; top: 0px; z-index: 998; opacity: 0; transition: opacity 500ms ease 0s;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/ymd-px-new-2.png?v=1703217632" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide slick-current slick-active" data-slick-index="5" aria-hidden="false" style="width: 734px; position: relative; left: -3670px; top: 0px; z-index: 999; opacity: 1;" tabindex="0">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/lids-px-new-2.png?v=1703217676" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="6" aria-hidden="true" style="width: 734px; position: relative; left: -4404px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/bark-services.png?v=1702640625" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="7" aria-hidden="true" style="width: 734px; position: relative; left: -5138px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/everlast-final-new.png?v=1703590820" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div><div class="block_test-drive-our-services-img slick-slide" data-slick-index="8" aria-hidden="true" style="width: 734px; position: relative; left: -5872px; top: 0px; z-index: 998; opacity: 0;" tabindex="-1">
                                        <div class="block_test-drive-our-services-post">
                                            <img src="https://arcticgrey.com/cdn/shop/files/ebbets.png?v=1702640706" class="block_test-drive-our-services-post-image">
                                        </div>
                                    </div></div></div>
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                                
                                    
                                
                            
                        </div>
                        <div class="block_test-drive-our-services-arrow">
                            <span class="block_test-drive-our-services-slider-arrow block_test-drive-our-services-arrow-prev slick-arrow" style=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<g clip-path="url(#clip0_343_1389)">
<path d="M7.828 10.9967L13.192 5.63275L11.778 4.21875L4 11.9967L11.778 19.7747L13.192 18.3608L7.828 12.9967H20V10.9967H7.828Z" fill="white"></path>
</g>
<defs>
<clipPath id="clip0_343_1389">
<rect width="24" height="24" fill="white" transform="matrix(-1 0 0 1 24 0)"></rect>
</clipPath>
</defs>
</svg></span>
                            <span class="block_test-drive-our-services-slider-arrow block_test-drive-our-services-arrow-next slick-arrow" style=""><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
<g clip-path="url(#clip0_343_1384)">
<path d="M16.172 10.9967L10.808 5.63275L12.222 4.21875L20 11.9967L12.222 19.7747L10.808 18.3608L16.172 12.9967H4V10.9967H16.172Z" fill="white"></path>
</g>
<defs>
<clipPath id="clip0_343_1384">
<rect width="24" height="24" fill="white"></rect>
</clipPath>
</defs>
</svg></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% schema %}
  {
    "name": "Image Slider Side",
    "settings": [],
    "presets": [{
       "name": "Image Slider Side"
    }]
  }
{% endschema %}