
.marquee-sections {
  padding: 3em 3% 0;
}

.marquee-box {
  height: 180px;
  display: flex;
  align-items: center;
  overflow: hidden;
  border: 1px solid #181818;
}

.marquee-text {
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 7em;
  font-weight: 100;
  flex-shrink: 0;
  padding: 0 10px;
  width: max-content;
  display: flex;
  align-items: center;
}

/* Left to Right Animation */
.a-section .marquee-text {
  animation: a-text-scroll 35s linear infinite;
}

@keyframes a-text-scroll {
  0% { transform: translate3d(-100%, 0, 0); }
  100% { transform: translate3d(0%, 0, 0); }
}

/* Right to Left Animation */
.b-section .marquee-text {
  color: #475747;
  animation: b-text-scroll 35s linear infinite;
}

@keyframes b-text-scroll {
  0% { transform: translate3d(0, 0, 0); }
  100% { transform: translate3d(-100%, 0, 0); }
}

<section class="marquee-sections">
  {% for block in section.blocks %}
    <div class="marquee-box {{ block.settings.marquee_style }}">
      <h2 class="marquee-text">{{ block.settings.marquee_text }}</h2>
      <h2 class="marquee-text">{{ block.settings.marquee_text }}</h2>
    </div>
  {% endfor %}
</section>

{% schema %}
{
  "name": "Marquee Component",
  "settings": [],
  "blocks": [
    {
      "type": "marquee_block",
      "name": "Marquee Block",
      "settings": [
        {
          "type": "text",
          "id": "marquee_text",
          "label": "Marquee Text",
          "default": "Scrolling text using CSS only •"
        },
        {
          "type": "select",
          "id": "marquee_style",
          "label": "Marquee Style",
          "options": [
            {
              "value": "a-section",
              "label": "Left to Right"
            },
            {
              "value": "b-section",
              "label": "Right to Left"
            }
          ],
          "default": "a-section"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Default",
      "category": "Custom"
    }
  ]
}
{% endschema %}

